$green: #ADF8B0;
$blue: #ADEBF8;
$purple: #E0ADF8;
$white: #ffffff;
$grey: #F3F3F3;
$dark-grey: #2B2C34;

.bg-green {
  background-color: $green;
}
.bg-blue {
  background-color: $blue;
}
.bg-purple {
  background-color: $purple;
}
.bg-white {
  background-color: $white;
}
.bg-grey {
  background-color: $grey;
}
.bg-dark-grey {
  background-color: $dark-grey;
}

.color-green{
  color: $green;
}
.color-blue {
  color: $blue;
}
.color-purple {
  color: $purple;
}
.color-white {
  color: $white;
}
.color-grey {
  color: $grey;
}
.color-dark-grey {
  color: $dark-grey;
}
